body{
  background: /*url(@home-background) no-repeat -850px top / auto 70vh,*/
              @color-background;
}

h1{
  font-size: 1.8rem;
}

h2{
  font-size: 1.6rem;
}

.logInPanel{
  .logInImg{
    width: 60%;
    float: left;
    img{
      width: 100%;
    }
  }

  #login{
    margin: 0px auto;
    width: 40%;
    float: left;
  }
}