/* Global Imports */
@import "compless/all.less";
@import "vars.less";

/* Global Styles */
@font-face {
  font-family: 'dark_net';
  src: url('@{font-dir}/dark_net_warrior-webfont.woff2') format('woff2'),
       url('@{font-dir}/dark_net_warrior-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Import mobile styles */

@import "mobile.less";
@import "map-mobile.less";
/*mobile menu for widths less than 768px */
@media (max-width: @sizes[mobile2]){
  @import "mm.less";
}

/* Import moble and tablet styles */
@media (min-width: @sizes[tablet1]){
  @import "menu.less";
  @import "tablet.less";
}

/* Import desktop styles */
@media (min-width: @sizes[desktop]){
  @import "desktop.less";
  @import "map.less";
}