/* Global variables */
//directories
@img: "../img";
@font-dir: "../fonts";

//fonts
@site-fonts: 'dark_net';

//colors
@white: rgba(255, 255, 255, 1);
@black: rgba(0, 0, 0, 1);
@black-trans: rgba(0, 0, 0, 0.7);
@white-trans: rgba(255, 255, 255, 0.75);

//sizes
@sizes: {
  mobile: 320px;
  tablet: 768px;
  desktop: 1024px;
};

//images
@home-background: '@{img}/background.jpg';